html, body, article, section, div, img, header, nav, h1, h2, h3, h4, h5, h6, p, a, button {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', 'sans-serif';
  background: transparent;
  border: none;
  text-decoration: none;
  color: inherit;
}

.page-title {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  border-top: 1px solid lightgray;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - 71px);
}

.side-menu {
  width: 300px;
  height: calc(100vh - 71px);
  border-right: 1px solid lightgray;
  overflow-y: scroll;
  padding: 0 20px;
}

.side-menu > section {
  margin-top: 30px;
}

.search-form {
  margin-top: 30px;
  /* display: flex; */
}

.search-form ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.search-form li {
  margin: 0;
  margin-top: 10px;
}

.search-form input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.search-form button {
  border: 1px solid rgb(20, 220, 88);
  padding: 10px;
  width: 100%;
  text-overflow: ellipsis;
}

.search-form button:hover {
  background: rgb(20, 220, 88);
  border: 1px solid rgb(20, 220, 88);
  color: white;
  cursor: pointer;
}

.search-form button:active {
  background: rgb(0, 100, 60);
  border: 1px solid rgb(0, 100, 60);
}

.side-menu-followed-subreddits {
  margin-top: 30px;
}

.side-menu-followed-subreddits h2 {
  /* stuff here */
}

.side-menu-followed-subreddit {
  display: flex;
  min-height: 40px;
  background-color: rgb(20, 220, 88);
  color: white;
  padding: 0 10px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.side-menu-followed-subreddit h3 {
  font-weight: lighter;
}

.side-menu-followed-subreddit button {
  color: white;
  display: block;
  padding: 8px;
}

.side-menu-followed-subreddit button:hover {
  color: rgb(0, 100, 60);
  cursor: pointer;
}

.subreddits {
  width: 100%;
  max-width: 800px;
}

.subreddits > h2 {
  margin-top: 30px;
  /* text-align: center; */
}

.post {
  width: 100%;
  display: flex;
  margin-top: 30px;
  padding: 0 30px;
  border-top: 1px solid lightgray;
  justify-content: space-between;
}

.post > header {
  margin-top: 30px;
}

.post button {
  cursor: pointer;
  padding: 0;
  text-align: left;
}

.post button:hover, .post a:hover {
  color: rgb(20, 220, 88);
}

.post button:active, .post a:active {
  color: rgb(0, 100, 60);
}

.post-collapse .post-body {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 500px;
}

.post-expand {
  flex-direction: column;
}

.post-expand > header {
  display: flex;
  justify-content: space-between;
}

.post-title {
  /* stuff here */
}

.post-body {
  margin-top: 15px;
}

.post-author span {
  color: rgb(20, 220, 88);
}

.post-author {
  margin-top: 15px;
}

.post iframe {
  margin-top: 30px;
}

.thumbnail {
  margin-top: 30px;
}

.thumbnail-placeholder {
  width: 120px;
  min-height: 80px;
  background: linear-gradient(to top left, rgb(0, 100, 60) 50%, rgb(20, 220, 88) 50%);
}

.comments {
  border-left: 1px solid lightgray;
  margin-top: 30px;
  padding: 0 30px;
}

.comment {
  margin-top: 15px;
  border-top: 1px solid lightgray;
}

.comment-author {
  margin-top: 15px;
}

.comment-author small {
  color: rgb(20, 220, 88);
}

.subreddit-footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn-load-more {
  display: block;
  padding: 15px;
  border: 2px solid rgb(20, 220, 88);
  cursor: pointer;
}

.btn-load-more:hover {
  background: rgb(20, 220, 88);
  color: white;
}

.btn-load-more:active {
  background: rgb(0, 100, 60);
  border: 2px solid rgb(0, 100, 60);
}


main > footer {
  margin: 30px 0;
  padding:30px;
  position: relative;
  bottom: 0;
}